[submodule "nvim/plugins/telescope.nvim"]
	path = nvim/plugins/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "nvim/plugins/plenary.nvim"]
	path = nvim/plugins/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "nvim/plugins/oil.nvim"]
	path = nvim/plugins/oil.nvim
	url = https://github.com/stevearc/oil.nvim.git
[submodule "nvim/plugins/nvim-treesitter"]
	path = nvim/plugins/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "nvim/plugins/codeium.vim"]
	path = nvim/plugins/codeium.vim
	url = https://github.com/Exafunction/codeium.vim.git
