[submodule "nvim/pack/nvim/start/nvim-lspconfig"]
	path = nvim/pack/nvim/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "nvim/pack/nvim/start/nvim-treesitter"]
	path = nvim/pack/nvim/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "nvim/pack/nvim/start/plenary.nvim"]
	path = nvim/pack/nvim/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "nvim/pack/nvim/start/telescope.nvim"]
	path = nvim/pack/nvim/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "nvim/pack/nvim/start/oil.nvim"]
	path = nvim/pack/nvim/start/oil.nvim
	url = https://github.com/stevearc/oil.nvim.git
[submodule "nvim/pack/nvim/start/copilot.vim"]
	path = nvim/pack/nvim/start/copilot.vim
	url = https://github.com/github/copilot.vim.git
[submodule "nvim/pack/nvim/start/codeium.vim"]
	path = nvim/pack/nvim/start/codeium.vim
	url = https://github.com/Exafunction/codeium.vim
