[credential]
  helper = cache
[log]
  date = format:%Y-%m-%d %H:%M
[format]
  pretty = format:%C(dim)%h %ad %C(reset)%C(green bold)%aN %C(reset)%C(blue)%gD%D\n\t%C(reset)%s
[pull]
	rebase = false
[user]
	name = zoshima
	email = dmykras@gmail.com
